.dark-background{
    background-color: #2b362e;
    color: #fafcfb;
}
#dark-mode {
    background-color: blue;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#crimeFilter {
}

#NotesDate {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    
}

#date {
    color: blue;
}

#note-text {
    color: blue;
}
#Notes {
    display:flex;
    justify-content: center;
    
    
}

#saveNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
    border-radius: 70%;
    margin: 5px;
}

.del {
    background-color: red;
    border-radius: 70%;
}

#contentcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    
}

#CriminalCard {

border: 1px dotted black;
width: 250px;
height: 150px;
padding: 5px;
margin: 5px;
}

#ofccontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

#ofcCard {
    border: 1px dotted black;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 5px;
    margin: 5px;
}

#facilitiescontainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

#facCard {
    border: 1px dotted black;
    text-align: center;
    width: 275px;
    height: auto;
    padding: 5px;
    margin: 5px;
}

#noteCard {
    border: 1px solid yellowgreen;
    margin: 5px;
}